<div class="container">

    <div class="row row-content">
        <div class="feed-card col-xs-12">
            <div class="row row-content">
                <div class="col-xs-12 col-md-6">
                    <a href="http://hromadske.ua/posts/dzhamala-vyhrala-yevrobachennia-2016">
                        <img class="img-responsive img-thumbnail" src="https://scontent-fra3-1.xx.fbcdn.net/t31.0-8/13254628_1075928915787268_6719826741176537413_o.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2>
                        <a href="http://hromadske.ua/posts/dzhamala-vyhrala-yevrobachennia-2016">
                          Джамала виграла Євробачення-2016
                        </a>
                    </h2>

                    <p>Джамала принесла перемогу Україні в європейському пісенному конкурсі «Евробачення — 2016».
                      Українська співачка підкорила серця не тільки членів журі, за кількістю голосів якого вона посіла друге місце,
                      а й глядачів, які допомогли їй здобути абсолютну перемогу.</p>
                    <p>

                    <p>
                        <a href="http://hromadske.ua/posts/dzhamala-vyhrala-yevrobachennia-2016">
                          Больше на hromadske.ua
                        </a>
                    </p>

                    <p>15 мая 2016, 01:47</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-content">
        <div class="feed-card col-xs-12 col-sm-6">
            <div class="row row-content">
                <div class="col-xs-12">
                    <a href="http://hromadske.ua/posts/an-225-mriia-uspishno-pryzemlyvsia-v-avstralii">
                        <img class="img-responsive img-thumbnail" src="http://s3-eu-central-1.amazonaws.com/hromadskeprod/posts/images/000/028/001/medium/10.jpg?1463306539">
                    </a>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-xs-12">
                    <h2>
                        <a href="http://hromadske.ua/posts/an-225-mriia-uspishno-pryzemlyvsia-v-avstralii">
                          АН-225 «Мрія» успішно приземлився в Австралії
                        </a>
                    </h2>

                    <p>Найбільший в світі транспортний літак Ан−225 «Мрія» здійснив посадку в Австралії, повідомила прес-служба підприємства «Антонов».</p>
                    <p>

                    <p>
                        <a href="http://hromadske.ua/posts/an-225-mriia-uspishno-pryzemlyvsia-v-avstralii">
                          Больше на hromadske.ua
                        </a>
                    </p>

                    <p>15 мая 2016, 11:57</p>
                </div>
            </div>
        </div>
    </div>

</div>
