<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Переключити навігацію</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="app">Головна</a>
                </li>
                <li>
                    <a ui-sref="app.datasets">Датасети</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="jumbotron">

    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1>vuzoll</h1>
                <p style="padding:40px;"></p>
                <p>Рейтинг університетів на основі placement records</p>
            </div>
            <div class="col-xs-12 col-sm-2">
              <p style="padding:20px;"></p>
            </div>
            <div class="col-xs-12 col-sm-2">
            </div>
        </div>
    </div>

</header>
